* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: hidden; }
/*-----------------------------------------------------------*/
.dropzone { position: fixed; inset: 0; display: none; }
.boxmediacontainer { display: flex; height: 100vh; }
/*-----------------------------------------------------------*/
/*allows to boxmedia gets dynacmic width*/
.mediabox { position: relative; flex: 1; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.mediabox img, .mediabox video { width: 100%; height: 100%; object-fit: cover; transition: transform 0.2s; }

/*-----------------------------------------------------------*/
/*swipers style*/

.swipereceiver { position: fixed; inset: 0; display: none; }

/*center the swipper circle*/
.controls, .swipestarter {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}

.swipestarter { width: 50px; height: 50px; background: rgba(255, 255, 255, 0.5); border-radius: 50%; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: grab; }
.swipereceiver { position: absolute; inset: 0; background: rgba(255, 255, 255, 0.2); display: none; }

.mediabox:hover .controls, .mediabox:hover .swipestarter { opacity: 1; }

.dragging .swipereceiver { display: block !important; }
.dragging .controls { opacity: 0 !important; }

/*-----------------------------------------------------------*/
/*right controls*/
.close-control { top: 5px; right: 5px; }

/*-----------------------------------------------------------*/
/*left controls*/
.zoom-controls { top: 5px; left: 5px; display: flex; gap: 5px; flex-direction: column; }

/*-----------------------------------------------------------*/
/*pan container*/
.top-container { top: 4px; left: 50%; display: flex; gap: 4px; flex-direction: column; }
.bottom-container { bottom: 64px; left: 50%; display: flex; gap: 4px; flex-direction: column; }
.right-container { top: 50%; right: 4px; display: flex; gap: 4px; flex-direction: row; }
.left-container { top: 50%; left: 4px; display: flex; gap: 4px; flex-direction: row; }
/*zoom container*/
.zoom-container { top: 5px; left: 5px; display: flex; gap: 5px; flex-direction: column; }
/*size container*/
.size-container { bottom: 64px; left: 5px; display: flex; gap: 5px; flex-direction: column; }
/*close container*/
.close-container { top: 5px; right: 5px; }

